body{
    margin: 0px;
    font-family: "Montserrat";
    background-color: rgb(255, 255, 255);
    color:white;
}
#card{
    background-size: cover;
    background-position: center;
}
#showmovies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    row-gap: 2em;
    column-gap: 3%;
    margin: 3%;
    margin-top: 2%;
}
#card{
    border-radius: 10px;
    height: 25rem;
}
.header{
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding-top: 13%;
    top: 76%;
    border-radius: 10px;
    height: 6rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0)
    ) ;
}
.title{
    font-weight: 700;
    margin-bottom: 2%;

}